<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="{% static 'css/PayrollForm.css' %}" type="text/css" rel="stylesheet">
    <script defer src="{% static 'js/EmployeePayrollForm.js' %}"></script>
    <title>Employee Payroll Form</title>                                     
</head>
<body>
    <header class="header-content header">
        <div class="logo-content">
            <img src="{% static 'assets/images/logo.png' %}" alt="">
            <div>
                <span class="emp-text">EMPLOYEE</span><br>
                <span class="emp-text emp-payroll">PAYROLL</span>
            </div>
        </div>
    </header>
    <div class="form-content">
        <form class="form" action="" method="POST">
            <div class="form-head">Employee Payroll Form</div>
            <div class="row-content">
                <label class="label text" for="name">Name</label>
                <input class="input" type="text" id="name" name="name" placeholder="Your name.." required>
                <error-output class="text-error" for="text"></error-output>
            </div>
            <div class="row-content">
                <label class="label text" for="profile_pic">Profile Image</label>
                <div class="profile-radio-content">
                    <label>
                        <input type="radio" id="profile1" name="profile_pic" value="assets/profile-images/Ellipse -3.png" required>
                        <img class="profile" id="image1" src="{% static 'assets/profile-images/Ellipse -3.png' %}">
                    </label>
                    <label>
                        <input type="radio" id="profile2" name="profile_pic" value="assets/profile-images/Ellipse -2.png" required>
                        <img class="profile" id="image2" src="{% static 'assets/profile-images/Ellipse -2.png' %}">
                    </label>
                    <label>
                        <input type="radio" id="profile3" name="profile_pic" value="assets/profile-images/Ellipse -5.png" required>
                        <img class="profile" id="image3" src="{% static 'assets/profile-images/Ellipse -5.png' %}">
                    </label>
                    <label>
                        <input type="radio" id="profile4" name="profile_pic" value="assets/profile-images/Ellipse -8.png" required>
                        <img class="profile" id="image4" src="{% static 'assets/profile-images/Ellipse -8.png' %}">
                    </label>
                </div>
            </div>
            <div class="row-content">
                <label class="label text" for="gender">Gender</label>
                <div>
                    <input type="radio" id="male" name="gender" value="Male">
                    <label class="text" for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="Female">
                    <label class="text" for="female">Female</label>
                </div>
            </div>
            <div class="row-content">
                <label class="label text" for="departments">Department</label>
                <div>
                    <input class="checkbox" type="checkbox" id="hr" name="departments" value="HR">
                    <label class="text" for="hr">HR</label>
                    <input class="checkbox" type="checkbox" id="sales" name="departments" value="Sales">
                    <label class="text" for="sales">Sales</label>
                    <input class="checkbox" type="checkbox" id="finance" name="departments" value="Finance">
                    <label class="text" for="finance">Finance</label>
                    <input class="checkbox" type="checkbox" id="engineer" name="departments" value="Engineer">
                    <label class="text" for="engineer">Engineer</label>
                    <input class="checkbox" type="checkbox" id="others" name="departments" value="Others">
                    <label class="text" for="others">Others</label>
                </div>
            </div>
            <div class="row-content">
                <label class="label text" for="salary">Choose your salary: </label>
                <input class="input" type="range" name="salary" id="salary" min="300000" max="500000" step="100" value="400000">
                <output class="salary-output text" for="salary">400000</output>
            </div>
            <div class="row-content">
                <label class="label text" for="start_date">Start Date</label>
                <div>
                    <input type="date" name="start_date" id="start_date"/>
                    <error-output class="date-error" for="startDate"></error-output>
                </div>
            </div>
            <div class="row-content">
                <label class="label text" for="note">Notes</label>
                <textarea id="note" class="input" name="note" placeholder="" style="height: 100px;"></textarea>
            </div>
            <div class="buttonParent">
                <a href="/employees/" class="resetButton button cancelButton">Cancel</a>
                <div class="submit-reset">
                    {% csrf_token %}
                    <input type="submit" class="button submitButton" id="submitButton" value="Submit"/>
                    <input type="reset" class="resetButton button" value="Reset"/>
                </div>
            </div>
        </form>
    </div>
</body>
</html>